body{
    margin: 0 auto;
}

#outerBox{
    width: 820px;
    margin: 0 auto;
}

#box{
    width: 700px;
    height: 122px;
    margin: 30px auto;
    border: 1px solid black;
    background-color: white;
}

#header{
    font-family: 'Georgia';
    font-size: 60px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;

}

#menu{
    font-family: 'Georgia';
    font-size: 14px;
    color: grey;
    text-align: center;
    font-style: italic;
    margin: 0 auto;
    margin-top: 7px;
    margin-bottom: 25px;
}

.imgBox {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 40px;
    margin-top: 0px;
}
  
.imgBox .image {
    width: 400px;
    height: 400px;
    object-fit: cover;
}
  
.imgBox img {
    width: calc(400px - (3px*2));
    height: calc(400px - (3px*2));
    object-fit: cover;
    margin: 3px;
}

#copyright{
    font-family: 'Georgia';
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    font-size: 12px;
    margin-top: 0px;
}

.imgSocial{
    display: flex;
    justify-content: space-between;
    width: 90px;
    height: 50px;
    margin: 30px auto;
    margin-top: 10px;
}

.imgSocial .imgSoc{
    width: 20px;
    height: 20px;
}

#ancGray{
    text-decoration: None;
    color: grey;
}

#ancActive{
    text-decoration: None;
    color: black;
}

#natureText{
    height: 30px;
    margin-top: 50px;
    margin-bottom: 5px;
    font-size: 30px;
}

#nat{
    margin-left: 15px;
    margin-bottom: 0px;
}